*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    width: 400px;
    height: 400px;
    margin: 50px auto;
}

.card-impar{
    animation: aparecer-impar ease-in;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

.card-par{
    animation: aparecer-par ease-in;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}



@keyframes aparecer-impar {
    from{
        opacity: 0;
        transform: translateX(500px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes aparecer-par {
    from{
        opacity: 0;
        transform: translateX(-500px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}